* {
	outline: none !important;
}
*:focus {
	outline: none !important;
}
*:active {
	outline: none !important;
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

.table-nonfluid {
	width: auto;
}

.center {
	text-align: center !important;
}

.table td {
	vertical-align: middle;
}

section {
	padding-top: 30px;
}

.subnav {
	width: 228px;
}

.subnav.affix {
	top: 60px;
}

.subnav.affix-bottom {
	position: fixed;
	top: auto;
	bottom: 110px;
}

.group-link {
	text-decoration: none;
	border-bottom: 1px dashed #999;
}
.group-link:hover {
	text-decoration: none;
	border-bottom: 1px dashed white;
}

.popover-title {
	display: none !important;
}

.preloader {
	background: white url('assets/img/ajax-loader.gif') no-repeat center;
	min-height: 13px;
	min-width: 18px;
}

ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}

/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
	.subnav {
		width: 258px;
	}
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
	body {
		padding-top: 0;
	}
	/* Adjust sidenav width */
	.subnav {
		width: 166px;
	}
	.subnav.affix {
		top: 10px;
	}
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
	body {
		padding-top: 0;
	}
	/* Sidenav */
	.subnav {
		width: auto;
		margin-bottom: 20px;
	}
	.subnav.affix {
		position: static;
		width: auto;
		top: 0;
	}
	.navbar .nav > li {
		display: block;
		width: 100%;
	}
	.navbar p.navbar-text.pull-right {
		display: none;
	}
	.dropdown-menu a {
		padding: 9px 15px;
		color: #777777;
		background-image: none !important;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.dropdown-menu li + li a {
		margin-bottom: 2px;
	}
	.dropdown-menu a:hover {
		color: white;
		background: none;
		background-color: #111 !important;
	}
	.dropdown-menu {
		position: static;
		top: auto;
		left: auto;
		display: block;
		float: none;
		max-width: none;
		padding: 0;
		margin: 0 15px;
		background-color: transparent;
		border: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.dropdown-menu:before,
	.dropdown-menu:after {
		display: none;
	}
	.dropdown-menu .divider {
		display: none;
	}
	.navbar .nav > li > .dropdown-menu::after,
	.navbar .nav > li > .dropdown-menu::before {
		display: none;
	}
}
