* {
	outline: none !important;
}

*:focus {
	outline: none !important;
}

*:active {
	outline: none !important;
}

.sidebar-nav {
	padding: 9px 0;
}

.table-nonfluid {
	width: auto;
}

.center {
	text-align: center !important;
}

.table td {
	vertical-align: middle;
}

.popover-title {
	display: none !important;
}

.preloader {
	background: white url('assets/img/ajax-loader.gif') no-repeat center;
	min-height: 13px;
	min-width: 18px;
}

.navbar-full {
	margin-bottom: 20px;
}